/*-- heart animation --*/
.fa-heart {
  display: flex;
  font-size: 1.8em;
  color: transparent;
  -webkit-text-stroke: 2px black;
  opacity: 0.4;
  margin-right: 30px;
}

.fa-heart:hover {
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  background-clip: "";
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0px;
  opacity: 1;
  transition: all 1.8s ease-in-out;
}

/*-- menu animation --*/
.menu__grid__case {
  animation: opacity 1.5s both;
}
.menu__grid__case--1 {
  animation-delay: 200ms;
}
.menu__grid__case--2 {
  animation-delay: 400ms;
}
.menu__grid__case--3 {
  animation-delay: 600ms;
}
.menu__grid__case--4 {
  animation-delay: 800ms;
}
.menu__grid__case--5 {
  animation-delay: 1000ms;
}
.menu__grid__case--6 {
  animation-delay: 1200ms;
}
.menu__grid__case--7 {
  animation-delay: 1400ms;
}
.menu__grid__case--8 {
  animation-delay: 1600ms;
}
.menu__grid__case--9 {
  animation-delay: 1800ms;
}
.menu__grid__case--10 {
  animation-delay: 2000ms;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*-- checkbox animation --*/
@keyframes slide-left {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
body {
  margin: 0;
  background: #f6f6f6;
  overflow-x: hidden;
}

main {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main, footer {
  font-family: "Roboto", sans-serif;
}

h1, .logo {
  font-family: "Shrikhand", cursive;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: #101010;
}
a:visited {
  color: #101010;
}

.hero_button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero_button-sub {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to left, #FF79DA 0%, #9356DC 51%, #FF79DA 100%);
  cursor: pointer;
  padding: 15px 25px;
  text-align: center;
  transition: 0.5s;
  background-size: 200%;
  color: white;
  border-radius: 50px;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.3);
  display: block;
}
.hero_button-sub:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
  opacity: 0.9;
  transition: 0.4s;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.8);
}

.menu_button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 45px 0 60px 0;
}
.menu_button_order {
  background-image: linear-gradient(to left, #FF79DA 0%, #9356DC 70%, #FF79DA 100%);
  cursor: pointer;
  padding: 18px 60px;
  text-align: center;
  font-size: 1em;
  transition: 0.5s;
  background-size: 200%;
  color: white;
  border-radius: 50px;
  border: none;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.3);
  display: block;
}
.menu_button_order:hover {
  background-position: right center;
  opacity: 0.9;
  transition: 0.4s;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.8);
}

.spinner {
  position: fixed;
  background-color: white;
  width: 100vw;
  height: 100vh;
  z-index: 20;
  animation: spin-background 3.5s ease-out forwards;
}
.spinner .spinner_icon {
  color: #9356DC;
  font-size: 70px;
  margin: auto;
  position: absolute;
  top: 50px;
  left: 60px;
  bottom: 50px;
  right: 50px;
  animation: spin 10s 0.3s forwards;
}
.spinner_load {
  width: 180px;
  height: 180px;
  border: 10px solid transparent;
  border-top-color: #9356DC;
  border-radius: 50%;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8);
  animation: spin 3.5s 0.3s forwards;
  z-index: 10;
}
.spinner_load:hover {
  animation-play-state: paused;
}
.spinner_load::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  bottom: 5px;
  right: 5px;
  border-radius: 50%;
  border: 10px solid transparent;
  border-top-color: #99E2D0;
  animation: spin 5s 0.3s forwards;
}
.spinner_load::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 20px;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  border: 10px solid transparent;
  border-top-color: #FF79DA;
  animation: spin 8s 0.3s forwards;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
    opacity: 1;
    visibility: visible;
  }
  90% {
    opacity: 1;
  }
  99% {
    opacity: 0.7;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes spin-background {
  0% {
    visibility: visible;
    opacity: 1;
  }
  90% {
    opacity: 0.7;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}

.header {
  box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.2);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100%;
  background-color: white;
}
.header_logo {
  align-content: center;
}
.header_icon {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 10%;
  top: 40%;
  font-size: 20px;
}

.footer a {
  color: white;
}

.footer {
  width: 100%;
  background-color: #353535;
  padding: 0 20px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
}
.footer .logo {
  font-size: 20px;
  font-weight: 500;
  padding: 20px 0;
}
.footer-link {
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  line-height: 0.1em;
}
.footer-link:hover {
  text-decoration: underline;
}
.footer-link i {
  margin-right: 10px;
  color: white;
}
.footer-link_title {
  font-weight: 400;
}

/*-- restaurants --*/
.restaurants {
  margin: 0;
  padding: 30px 8px;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
}
.restaurants_title {
  margin-left: -2%;
}

.restaurant_items {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 8px;
}
.restaurant_item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.3);
}
.restaurant_item_image {
  width: 100%;
  height: 190px;
}
.restaurant_item_image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.restaurant_item_new {
  position: absolute;
  background-color: #99E2D0;
  top: 20px;
  right: 10px;
  color: #008766;
  font-size: 0.9em;
  font-weight: 700;
  padding: 6px 13px;
  margin: 0;
}
.restaurant_item:hover {
  transition: 0.4s;
  transform: scale(1.02);
  box-shadow: 0px 2px 10px 1px rgba(145, 85, 220, 0.5);
}

.restaurant_bloc {
  background: white;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 75px;
  border-radius: 0 0 20px 20px;
}
.restaurant_bloc-info {
  margin-left: 15px;
  line-height: 5px;
}

body {
  font-family: "Roboto", sans-serif;
}

.image {
  width: 100%;
  height: 50vh;
}
.image_img {
  margin-top: -80px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menu_top .fa-heart {
  margin-right: 5px;
}

#menu {
  background: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  margin-top: -200px;
  padding: 0 20px;
  width: 100%;
  max-width: 1230px;
  border-radius: 30px 30px 0 0;
  background-color: #F6F6F6;
}
.menu_top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.menu_top_title {
  font-family: "Shrikhand", cursive;
}
.menu__grid {
  display: grid;
  grid-gap: 40px;
}
.menu__grid__bloc {
  display: grid;
  grid-gap: 15px;
}
.menu__grid__title h3 {
  position: relative;
  font-weight: 400;
  text-transform: uppercase;
}
.menu__grid__title h3::after {
  content: "";
  width: 50px;
  height: 4px;
  background: #99e2d0;
  position: absolute;
  z-index: 20;
  left: 0px;
  bottom: -8px;
}
.menu__grid__case {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1);
}
.menu__grid__case:hover .validation__box {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slide-left 0.5s ease;
  transform-origin: right;
}
.menu__grid__case:hover .menu__case__price {
  padding-right: 70px;
  transition: 0.5s ease;
}
.menu__grid__case .validation__box {
  display: none;
  position: absolute;
  background: #99E2D0;
  border-radius: 0 15px 15px 0;
  right: 0px;
  padding: 0 18px;
  height: 100%;
}
.menu__grid__case .validation__box i {
  font-size: 25px;
  color: white;
  transform: rotate(180deg);
  animation: rotate 0.5s both;
}
.menu__case__dish {
  margin-left: 20px;
  white-space: nowrap;
  overflow: hidden;
}
.menu__case__dish p {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu__case__dish-title {
  font-weight: bold;
}
.menu__case__price {
  padding-right: 20px;
  font-weight: bold;
  padding-left: 7px;
}

.dish-and-price {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*-- menu animation --*/
.menu__grid__case {
  animation: opacity 1.5s both;
}
.menu__grid__case--1 {
  animation-delay: 200ms;
}
.menu__grid__case--2 {
  animation-delay: 400ms;
}
.menu__grid__case--3 {
  animation-delay: 600ms;
}
.menu__grid__case--4 {
  animation-delay: 800ms;
}
.menu__grid__case--5 {
  animation-delay: 1000ms;
}
.menu__grid__case--6 {
  animation-delay: 1200ms;
}
.menu__grid__case--7 {
  animation-delay: 1400ms;
}
.menu__grid__case--8 {
  animation-delay: 1600ms;
}
.menu__grid__case--9 {
  animation-delay: 1800ms;
}
.menu__grid__case--10 {
  animation-delay: 2000ms;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*-- checkbox animation --*/
@keyframes slide-left {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*-- location search */
.location {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #eaeaea;
  color: #7a7a7a;
  align-items: baseline;
}
.location #icon_location {
  color: black;
  font-size: 1.2em;
  margin-left: 4rem;
}
.location .search_bar {
  font-size: 1em;
  font-weight: 700;
  border: none;
  background: #eaeaea;
  padding: 18px 0;
  margin-left: 15px;
  cursor: pointer;
}
.location :focus {
  outline: none;
}

.hero {
  text-align: center;
  padding-bottom: 40px;
}
.hero_title {
  font-weight: 700;
  font-size: 1.5em;
  margin: 40px 60px auto 60px;
}
.hero_text {
  font-size: 1.1em;
}

/*-- user notice guidelines --*/
.user_notice {
  padding: 10% 0;
  background: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.notice {
  width: 95%;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.notice_title {
  margin: 0 3%;
}
.notice_steps {
  display: flex;
  flex-direction: column;
  margin-top: 4%;
}
.notice_step {
  display: flex;
  align-items: center;
  background: #f6f6f6;
  height: auto;
  width: auto;
  margin: 13px 20px;
  border-radius: 20px;
  padding: 10px 0;
  position: relative;
  box-shadow: 0px 2px 8px 1px rgba(0, 0, 0, 0.15);
}
.notice_step:hover {
  cursor: pointer;
  background: #ece1f9;
}
.notice_step:hover > .step_icon {
  color: #9356DC;
}

.notice_step .step_number {
  background-color: #9356DC;
  color: white;
  position: absolute;
  padding: 3px 8px 3px 8px;
  border: transparent 1px;
  border-radius: 500px;
  transform: translateX(-50%);
}
.notice_step .step_icon {
  color: #7e7e7e;
  font-size: 120%;
  margin: 0 25px 0 35px;
}
.notice_step .step_text {
  font-weight: 700;
}

/*-- INDEX PAGE --*/
@media screen and (min-width: 735px) {
  .restaurants {
    margin: 0 15px;
  }

  .restaurant_items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
    padding: 8px;
  }

  .notice_steps {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .notice_step {
    width: 100%;
  }

  .footer {
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "logo logo logo logo";
    justify-content: space-between;
  }
  .footer .logo {
    grid-area: logo;
  }
  .footer-link {
    justify-content: center;
  }
}
@media screen and (min-width: 980px) {
  .restaurant_items {
    width: 100%;
    grid-gap: 45px;
  }
}
/*-- MENU PAGES --*/
@media screen and (min-width: 665px) {
  .menu {
    margin-top: -80px;
  }
}
@media screen and (min-width: 765px) {
  .header_icon {
    left: 32%;
  }

  .image_img {
    margin: 0;
  }

  .menu {
    margin-top: -50px;
  }

  .menu__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
}

/*# sourceMappingURL=style.css.map */
