body {
  margin: 0;
  background: #f6f6f6;
  overflow-x: hidden;
}

main {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main, footer {
  font-family: "Roboto", sans-serif;
}

h1, .logo {
  font-family: "Shrikhand", cursive;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: #101010;
}
a:visited {
  color: #101010;
}

.hero_button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero_button-sub {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to left, #FF79DA 0%, #9356DC 51%, #FF79DA 100%);
  cursor: pointer;
  padding: 15px 25px;
  text-align: center;
  transition: 0.5s;
  background-size: 200%;
  color: white;
  border-radius: 50px;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.3);
  display: block;
}
.hero_button-sub:hover {
  background-position: right center;
  background: lighten #FF79DA, 20%;
  color: #fff;
  text-decoration: none;
  box-shadow: darken #d3d3d3, 50%;
}

.menu_button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 0 60px 0;
}
.menu_button_order {
  background-image: linear-gradient(to left, #FF79DA 0%, #9356DC 70%, #FF79DA 100%);
  cursor: pointer;
  padding: 18px 60px;
  text-align: center;
  transition: 0.5s;
  background-size: 200%;
  color: white;
  border-radius: 50px;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.3);
  display: block;
}
.menu_button_order:hover {
  background-position: right center;
  opacity: 0.9;
  transition: 0.4s;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.8);
}

.spinner {
  position: relative;
  background: rgba(255, 255, 255, 0.8);
  width: 100vw;
  height: 100vh;
}
.spinner .spinner_icon {
  color: #9356DC;
  font-size: 70px;
  margin: auto;
  position: absolute;
  top: 50px;
  left: 50px;
  bottom: 50px;
  right: 50px;
  animation: spin 15s infinite;
}
.spinner_load {
  width: 180px;
  height: 180px;
  border: 10px solid transparent;
  border-top-color: #9356DC;
  border-radius: 50%;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8);
  animation: spin 2s infinite;
}
.spinner_load::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  bottom: 5px;
  right: 5px;
  border-radius: 50%;
  border: 10px solid transparent;
  border-top-color: #99E2D0;
  animation: spin 5s infinite;
}
.spinner_load::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 20px;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  border: 10px solid transparent;
  border-top-color: #FF79DA;
  animation: spin 8s infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    visibility: visible;
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}

.header {
  box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.2);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100%;
  background-color: white;
}
.header_logo {
  align-content: center;
}
.header_icon {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 30px;
  top: 40%;
  font-size: 20px;
}

.footer a {
  color: white;
}

.footer {
  width: 100%;
  background-color: #353535;
  padding: 0 20px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
}
.footer .logo {
  font-size: 20px;
  font-weight: 500;
  padding: 20px 0;
}
.footer-link {
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  line-height: 0.1em;
}
.footer-link:hover {
  text-decoration: underline;
}
.footer-link i {
  margin-right: 10px;
  color: white;
}
.footer-link_title {
  font-weight: 400;
}

/*-- restaurants --*/
.restaurants {
  margin: 0;
  padding: 30px 8px;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
}

.restaurant_items {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 8px;
}
.restaurant_item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.3);
}
.restaurant_item_image {
  width: 100%;
  height: 190px;
}
.restaurant_item_image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.restaurant_item_new {
  position: absolute;
  background-color: #99E2D0;
  top: 20px;
  right: 10px;
  color: #008766;
  font-size: 0.9em;
  font-weight: 700;
  padding: 6px 13px;
  margin: 0;
}
.restaurant_item:hover {
  transition: 0.4s;
  transform: scale(1.02);
  box-shadow: 0px 2px 10px 1px rgba(145, 85, 220, 0.5);
}

.restaurant_bloc {
  background: white;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 75px;
  border-radius: 0 0 20px 20px;
}
.restaurant_bloc-info {
  margin-left: 15px;
  line-height: 5px;
}
.restaurant_bloc_heart {
  margin-right: 30px;
  font-size: 150%;
}

/*-- heart animation --*/
.fa-heart {
  border: black;
  background: white;
  /*border-radius: 50%;
  padding:.2em;*/
}

.fa-heart::before {
  font-weight: bold;
  transition: color 1s ease-out;
}

.fa-heart:hover::before {
  color: #9356DC;
  cursor: pointer;
}

/*autre exemple

<p><a class="jauge" href="#"><span class="jauge-remplissage"></span></a></p>
.jauge {
    width: 100px;
    height: 200px;
    display: block;
    background-color: #303030;
    position: relative;
}
.jauge-remplissage {
    transition: all 0.3s linear 0s;
    background-color: #33BEE5;
    width: 100%;
    height: 0;
    position: absolute;
    left: 0;
    bottom: 0;
}

.jauge:hover .jauge-remplissage {
    height: 100%;
}*/
.image {
  width: 100%;
  height: 50vh;
}
.image_img {
  margin-top: -80px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#menu {
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  margin: -25px 0 25px 0;
}
#menu .menu_top {
  position: absolute;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  top: 44%;
  width: 100%;
  background-color: #f6f6f6;
  border-radius: 40px 40px 0 0;
}
#menu .menu_top_title {
  font-family: "Shrikhand", cursive;
  font-weight: 500;
  font-size: 1.75em;
  padding: 0 25px;
}
#menu .menu_top .fa-heart {
  font-size: 25px;
  font-weight: 100;
  padding: 0 35px;
}

.menu_bloc {
  display: grid;
  grid-gap: 30px;
  margin: 0 5%;
}
.menu_bloc_card {
  display: grid;
  grid-gap: 15px;
}
.menu_bloc_title h3 {
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1.7em;
  border-bottom: solid 4px #99E2D0;
  width: 45px;
}

.menu_dishes {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  background-color: white;
  border-radius: 20px;
  padding: 6px 10px;
  box-shadow: 1px 3px 10px 1px #ececec;
  cursor: pointer;
  line-height: 0.4em;
}
.menu_dishes .dish_title {
  font-size: 1.1em;
}
.menu_dishes .dish_subtitle {
  font-size: 0.92em;
}
.menu_dishes .dish_price {
  align-self: flex-end;
  font-weight: 700;
  font-size: 0.95em;
  padding: 0 15px 10px 0;
}

/*-- location search */
.location {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #eaeaea;
  color: #7a7a7a;
  align-items: baseline;
}
.location #icon_location {
  color: black;
  font-size: 1.2em;
  margin-left: 4rem;
}
.location .search_bar {
  font-size: 1em;
  font-weight: 700;
  border: none;
  background: #eaeaea;
  padding: 18px 0;
  margin-left: 15px;
  cursor: pointer;
}
.location :focus {
  outline: none;
}

.hero {
  text-align: center;
  padding-bottom: 40px;
}
.hero_title {
  font-weight: 700;
  font-size: 1.5em;
  margin: 40px 60px auto 60px;
}
.hero_text {
  font-size: 1.1em;
}

/*-- user notice guidelines --*/
.user_notice {
  padding: 10% 0;
  background: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.notice {
  width: 95%;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.notice_title {
  margin: 0;
}
.notice_steps {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin-top: 4%;
}
.notice_step {
  display: flex;
  align-items: center;
  background: #f6f6f6;
  height: auto;
  width: auto;
  margin: 13px 20px;
  border-radius: 20px;
  padding: 10px 0;
  position: relative;
  box-shadow: 0px 2px 8px 1px rgba(0, 0, 0, 0.15);
}
.notice_step:hover {
  cursor: pointer;
  background: #ece1f9;
}
.notice_step:hover > .step_icon {
  color: #9356DC;
}

.notice_step .step_number {
  background-color: #9356DC;
  color: white;
  position: absolute;
  padding: 3px 8px 3px 8px;
  border: transparent 1px;
  border-radius: 500px;
  transform: translateX(-50%);
}
.notice_step .step_icon {
  color: #7e7e7e;
  font-size: 120%;
  margin: 0 25px 0 35px;
}
.notice_step .step_text {
  font-weight: 700;
}

/*# sourceMappingURL=style.css.map */
