.spinner{
    position: fixed;
    background-color: white;
    width: 100vw;
    height: 100vh;
    z-index: 20;
    animation: spin-background 3.5s ease-out forwards;
    .spinner_icon{
        color: $color-primary;
        font-size: 70px;
        margin: auto;
        position: absolute;
        top: 50px; left: 60px; bottom: 50px; right: 50px;
        animation: spin 10s 0.3s forwards;
        }
    &_load{
    width: 180px;
    height: 180px;
    border: 10px solid transparent;
    border-top-color: $color-primary;
    border-radius: 50%;
    margin: auto;
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgb(255,255,255,0.8);
    animation: spin 3.5s 0.3s  forwards;
    z-index: 10;
    &:hover{
        animation-play-state: paused;
    }
}
    &_load::after{
    content: '';
    position: absolute;
    top: 5px; left: 5px; bottom: 5px; right: 5px;
    border-radius: 50%;
    border: 10px solid transparent;
    border-top-color: $color-tertiary;
    animation: spin 5s 0.3s forwards;
}
    &_load::before{
    content: '';
    position: absolute;
    top: 20px; left: 20px; bottom: 20px; right: 20px;
    border-radius: 50%;
    border: 10px solid transparent;
    border-top-color: $color-secondary;
    animation: spin 8s 0.3s forwards;
}

@keyframes spin {
    0%{
        transform: rotate(0deg);
        opacity: 1;
        visibility: visible;
    }
    90%{
        opacity: 1;
    }
    99%{
        opacity: 0.7;
    }
    100%{
        transform: rotate(360deg);
        opacity: 0;
        visibility: hidden;
    }
}
@keyframes spin-background {
    0%{
        visibility: visible;
        opacity: 1;
    }
    90%{
        opacity: 0.7;
    }
    100%{
        visibility: hidden;
        opacity: 0;
    }
}
}
