body {
    font-family: 'Roboto', sans-serif;
    color: $text-color;
    font-size: 2rem;
    font-weight: 100;
    line-height: 1.7;
}

h1{
    font-family: 'Shrikhand', cursive; 
    color: $text-color;
    font-weight: 700; 
    }