.location{
    @include center-element;
    width: 100%;
    background: #eaeaea;
    color: #7a7a7a;
    align-items: baseline;
    justify-items: center;
    #icon_location{
        color: black;
        font-size: 1.2em;
    }
    .search_bar{
        font-size: 1em;
        font-weight: 700;
        border: none;
        background: #eaeaea;
        padding: 18px 0;
        margin-left: 15px;
    }
}
