/*-- INDEX PAGE --*/

@media screen and (min-width: 765px) {
    .restaurants{
        margin: 0 15px;
    }
    .restaurant{
        &_items{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-gap: 20px;
            padding: 8px;
        }
    }

    .notice_steps{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    .notice_step{
            width: 100%;
        }
    

    .footer{
        display: grid;
        grid-template-columns: 1.5fr 1.5fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "logo logo logo logo";
        justify-content: space-between;

        .logo{
            grid-area: logo;
        }
        &-link{
            justify-content: center;
        }
    }
}

/*-- MENU PAGES --*/

@media screen and (min-width: 765px) {
    .image_img{
        margin: 0;
    }
    .menu_top{
        margin-top: 52px;
    }
    .menu_bloc{
        margin-top: 35px;
    }
    .menu_bloc_card{
        display: grid;
        width: 100%;
        grid-gap: 10px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1.5fr;
        grid-template-areas:  
        "menu_bloc_title menu_bloc_title menu_bloc_title";
    }
    .menu_bloc_title{
        grid-area: menu_bloc_title;
    }
    }
