/*-- INDEX PAGE --*/

@media screen and (min-width: 735px) {
    .restaurants{
        margin: 0 15px;
    }
    .restaurant{
        &_items{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-gap: 20px;
            padding: 8px;
        }
    }

    .notice_steps{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    .notice_step{
            width: 100%;
        }
    

    .footer{
        display: grid;
        grid-template-columns: 1.5fr 1.5fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "logo logo logo logo";
        justify-content: space-between;

        .logo{
            grid-area: logo;
        }
        &-link{
            justify-content: center;
        }
    }
}

@media screen and (min-width: 980px) {
    .restaurant{
        &_items{
            grid-gap: 45px;
        }
    }
}

/*-- MENU PAGES --*/

@media screen and (min-width: 665px){
    .menu{
        margin-top: -80px;
    }
}
@media screen and (min-width: 765px) {

    .header{
        &_icon{
            left: 32%;
        }
    }
    .image_img{
        margin: 0;
    }
    .menu{
        margin-top: -50px;
    }
    .menu__grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;  
    }
}