// main colors
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

// text color
$text-color: #101010;

// effect colors
$color-heart:linear-gradient($color-primary, $color-secondary);